[submodule "kakrc/auto-pairs.kak"]
	path = kakrc/auto-pairs.kak
	url = git@github.com:alexherbo2/auto-pairs.kak.git
[submodule "kakrc/vertical-selection.kak"]
	path = kakrc/vertical-selection.kak
	url = git@github.com:occivink/kakoune-vertical-selection.git
[submodule "kakrc/surround.kak"]
	path = kakrc/surround.kak
	url = git@github.com:alexherbo2/surround.kak.git
[submodule "kakrc/kakboard.kak"]
	path = kakrc/kakboard.kak
	url = git@github.com:lePerdu/kakboard.git
[submodule "kakrc/fzf.kak"]
	path = kakrc/fzf.kak
	url = git@github.com:andreyorst/fzf.kak.git
[submodule "kakrc/smarttab.kak"]
	path = kakrc/smarttab.kak
	url = git@github.com:andreyorst/smarttab.kak.git
[submodule "kakrc/buffers.kak"]
	path = kakrc/buffers.kak
	url = git@github.com:Delapouite/kakoune-buffers.git
