/*
 * Hide window controls
 */
.titlebar-buttonbox-container {
  display: none !important;
}

.titlebar-placeholder,
#TabsToolbar .titlebar-spacer { display: none; }
#navigator-toolbox::after { display: none !important; }

/*
 * Hide all the clutter in the navbar
 */
#main-window :-moz-any(#back-button,
                       #forward-button,
                       #stop-reload-button,
                       #home-button,
                       #library-button,
                       #sidebar-button,
                       #start-button,
                       #pocket-button,
                       #permissions-granted-icon,
                       #fxa-toolbar-menu-button,
                       #page-action-buttons,
                       #_d7742d87-e61d-4b78-b8a1-b469842139fa_-browser-action /* Vimium */) {
 display: none !important;
}


/*
 * Hide tabs if only one tab
 */
#titlebar .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
  display: none !important;
}


/*
 * Auto-hide sidebar
 */
:root {
  --sidebar-hover-width: 10px;
  --sidebar-visible-width: 200px;
}

#sidebar-box {
  position: relative !important;
  overflow-x: hidden !important;
  margin-right: calc(var(--sidebar-hover-width) * -1) !important;
  left: var(--sidebar-hover-width) !important;
  min-width: var(--sidebar-hover-width) !important;
  max-width: var(--sidebar-hover-width) !important;
  border-right: 1px solid var(--sidebar-border-color);
  z-index: 1;
}

#sidebar-box:hover {
  margin-right: calc(var(--sidebar-visible-width) * -1) !important;
  left: var(--sidebar-visible-width) !important;
  min-width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
}

#sidebar {
  opacity: 0 !important;
}

#sidebar-box:hover #sidebar {
  opacity: 1 !important;
}

/* #sidebar-header is hidden by default, change "none" to "inherit" to restore it. */
#sidebar-header {
  display: none !important;
}

/* #sidebar-splitter styles the divider between the sidebar and the rest of the browser. */
#sidebar-splitter {
  display: none;
}

