/* Make sidebar Explorer icons visible only on hover */

.monaco-workbench > .part > .composite.title > .title-actions {
  opacity: 0;
  transition: opacity 0.1875s ease;
}

.monaco-workbench > .part > .composite.title > .title-actions:hover {
  opacity: 1;
}

/* Make tab bar and panel icons visible only on hover */

.monaco-workbench
  > .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions {
  opacity: 0;
  transition: opacity 0.1875s ease;
}

.monaco-workbench
  > .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions:hover {
  opacity: 1;
}

/* Make bottom left manage icon visible only on hover */

.global-activity {
  opacity: 0;
}

.global-activity:hover {
  transition: opacity 0.1875s ease;
  opacity: 1;
}


/* Disable sidebar arrows */

.part.sidebar .monaco-tree-row > .content::before {
  display: none;
}

/* Replace sidebar folder icons with ‘›’ */

.part.sidebar .monaco-icon-label.folder-icon::before {
  opacity: 0.4375;
  background-image: none !important;
  content: "›" !important;
  font-size: 150%;
  top: -1.25px !important;
  width: auto !important;
}

/* Replace sidebar file icon with ‘–’ */

.part.sidebar .monaco-icon-label.file-icon::before {
  opacity: 0.4375;
  background-image: none !important;
  content: "–" !important;
  top: 0 !important;
  width: auto !important;
}

/* Fine-tune placement of ‘›’ and ‘–’ */

.monaco-icon-label::before {
  position: relative;
  top: 1px;
}

/* Rotate  ‘›’ when folder is expanded */

.part.sidebar
  .monaco-tree-row.expanded
  > div
  > .monaco-icon-label.folder-icon::before {
  transform: rotate(90deg) translate(5.75px, 0);
}

/* Rotate  ‘›’ when folder is expanded */

.tab .monaco-icon-label {
  justify-content: center;
  padding: 0 16px !important;
}

.tab-close {
  opacity: 0.375;
}

.tab-close:hover {
  opacity: 0.75;
}

.tab {
  top: -1.5px;
}

.close-editor-action {
  background: none !important;
}

.close-editor-action:before {
  position: relative;
  top: -0.5px;
  left: -8px;
}

.tab:not(.dirty) .close-editor-action:before {
  content: "✕";
}

.tab.dirty .close-editor-action:before {
  content: "⬤";
}

